### PROTECT FILES ###
<FilesMatch "\.(htaccess|htpasswd|ini|fla|psd|log|sh)$">
Order Allow,Deny
Deny from all
</FilesMatch>

AuthType Basic
AuthName "Zaloguj sie na zaplecze"
AuthUserFile C:\xampp\htdocs\sonda\zaplecze/.htpasswd
Require valid-user
ErrorDocument 401 "Authorisation Required"
