
.icon-monitor:before { content: '\e800'; } /* '' */
.icon-users:before { content: '\e801'; } /* '' */
.icon-rocket:before { content: '\e802'; } /* '' */
.icon-info-circled:before { content: '\e803'; } /* '' */
.icon-torso:before { content: '\e804'; } /* '' */
.icon-picture-1:before { content: '\e806'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
.icon-facebook-squared-1:before { content: '\f308'; } /* '' */