### PROTECT FILES ###
<FilesMatch "\.(htaccess|htpasswd|ini|fla|psd|log|sh)$">
Order Allow,Deny
Deny from all
</FilesMatch>

AuthType Basic
AuthName "Zaloguj się na zaplecze"
AuthUserFile /profiles/k/ka/kaj/kajzeroo/3dhzhr.cba.pl/zaplecze/1/2/.htpasswd
Require valid-user
ErrorDocument 401 "Authorisation Required"
